.container {
    height: 100%;
    background-color: #2BAE66;
}

.window {
    padding: 20px 40px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: lighter;
    background-color:  #FCF6F5;
    margin: 160px 240px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}
